<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{#if assets}}
      <link rel="icon" href="{{assets}}img/favicon.ico">
      <link rel="stylesheet" href="{{assets}}css/app.css">
      {{else}}
      <link rel="icon" href="public/assets/img/favicon.ico">
      <link rel="stylesheet" href="./public/assets/css/app.css">
    {{/if}}
  </head>
  <body>
    {{>topbar-data}}
    {{>errors}}
		{{{ body }}}
	 
   {{#if assets}}
      <script src="{{assets}}js/app.js"></script>
      {{else}}
      <script src="./public/assets/js/app.js"></script>
    {{/if}}
	
  </body>
</html>